  .modal-styles {
    display: block;
    align-items: center;
    width: 450px;
    height: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    z-index: 1000;
    border-radius: 10px;
    
  }

  .login {
    display: block;
    text-align: center;
    justify-content: center;
  }

  .login-btn {
    border-radius: 20px;
    height: 50px;
    font-weight: bold;
    
}
.login-btn-2 {
  border-radius: 20px;
  height: 50px;
  font-weight: bold;
  
}
.login-btn:hover{
  background: linear-gradient(to top left, rgb(255, 22, 207, 0.52), rgb(149, 16, 172, 0.73));
}
.login-btn-2:hover{
  background: linear-gradient(to top left, rgb(255, 22, 207, 0.52), rgb(149, 16, 172, 0.73));
}
.login-btn {
    border-radius: 45px;
    background: linear-gradient(to bottom right, rgb(18, 205, 212, 0.52),rgb(16, 172, 166, 0.73),rgb(149, 16, 172, 0.73));
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    /* padding: px; */
    width: 145px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin-left: 10%; */
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: 0.5s;
   }
   .login-btn-2 {
    border-radius: 45px;
    background: linear-gradient(to bottom right, rgb(18, 205, 212, 0.52),rgb(16, 172, 166, 0.73),rgb(149, 16, 172, 0.73));
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    /* padding: px; */
    width: 145px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin-left: 10%; */
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: 0.5s;
   }
    .login-btn:after {
    position: right;
    opacity: 0;  
    top: 14px;
    left: -50px;
    transition: 0.5s;
    font-size: 15px;
  }
  .login-btn-2:after {
    position: right;
    opacity: 0;  
    top: 14px;
    left: -50px;
    transition: 0.5s;
    font-size: 15px;
  }
  
  .login-btn:hover{
    padding-left: 50px;
    /* padding-right: 100px; */
  }
  .login-btn-2:hover{
    padding-right: 50px;
    /* padding-right: 100px; */
  }
  
  .login-btn:hover:after{
    opacity: 1;
    left: 10px;
  }
  .login-btn-2:hover:after{
    opacity: 1;
    left: 10px;
  }
   .logo-modal-btn  {
    display: inline-block;
    /* background-image: url(../../images/Whatever-4.png) no-repeat; */
    max-width: 135px;
    position: center;
    filter: invert(75%);
    overflow: hidden;

  }
  .sign-in {
    color: black;
  }